@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.topbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 200px 60px;
    align-items: center;
    z-index: 99;
}

.topbar-user {
    position: relative;
    width: 40px;
    height: 40px;
    justify-self: start;
}

.topbar-user img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 0 20px 0 10px;
}

.logo h2 {
    color: #001F3F;
}

.admin-login {
    justify-self: end;
}

.admin-login a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #3A6D8C;
}

.admin-login i {
    margin-right: 5px;
    color: #3A6D8C;
}

.admin-login h4 {
    font-weight: 500;
}

.sidebar{
    position: fixed;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #001F3F;
    overflow-x: hidden;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    width: 100%;
    list-style-type: none;
}

.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;    
    height: 60px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

.sidebar ul li:nth-child(5){
    position: absolute;
    bottom: 10px;
}

.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #001F3F;
    border-radius: 40px;
    margin-left: 50px;
}

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 250px);
    left: 250px;
    min-height: calc(100vh - 600px);
    padding: 20px 30px;
}

.main h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #3A6D8C;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.container .card {
    width: 400px;
    background-color: #001F3F;
    padding: 30px;
    border-radius: 5px;
    height: 500px;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .input-group {
    position: relative;
    width: 80%;
}

.card .input-group label {
    color: #fff;
    font-size: 0.9rem;
}

.card .input-group input {
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 100%;
    margin: 0.5rem 0 1.5rem  0;
    border-radius: 3px;
}

.card .button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
}

.card .button-group button {
    border: none;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.update-btn {
    background-color: #3A6D8C;
    color: #fff;
}

.cancel-btn {
    background-color: #aaa;
}

.cancel-btn a {
    color: #1E1E1E;
    text-decoration: none;
    font-weight: 500;
}

@media (max-width: 1115px) {
.sidebar {
        width: 60px;
}

.main {
    left: 60px; 
    width: calc(100% - 60px);
}

}