@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	            url('/static/uploads/voting-security.jpg');
	background-position: center;
	background-size: cover;
	z-index: -1;
}

.id-container {
    background: rgba(0, 31, 63, 0.7);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    place-items: center;
    gap: 10px;
    min-width: 400px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.id-container img {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50px;
    margin-bottom: 10px;
}

.id-input {
    color: #001F3F;
    width: 90%;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.9rem;
    outline-color: #001F3F;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.id-input:focus {
    outline: 3px solid #f1c40f;
    outline-offset: -2px;
}

.id-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 90%;
}

.id-btn button {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #001F3F;
    color: #fff;
    font-weight: 500;
    width: 100%;
}

.id-btn .confirm-button {
    background-color: #f1c40f;
    color: #001F3F;
}

.id-btn .cancel-button {
    background-color: #6c757d;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .id-container {
        transform: scale(0.85);
        transform-origin: center;
    }
}

@media screen and (max-width: 800px) {
    .id-container {
        transform: scale(0.75);
        transform-origin: center;
    }
}

@media screen and (max-width: 640px) {
    .id-container {
        transform: scale(0.70);
        transform-origin: center;
    }
}