@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');	

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(90deg, #001F3F, #3A6D8C);
}

.login-logo {
	position: relative;
	width: 90px;
	height: 90px;
	margin-bottom: 1.5rem;
}

.login-logo img{	
	 height: 100%;
	 width: 100%;
	 object-fit: cover;
	 border-radius: 50px;
	 background-color: #fff;
}

.login-container {
	width: 400px;
	background-color: #001F3F;
	padding: 30px;
	border-radius: 5px;
	transition: transform 0.3s ease-in-out;
}

.login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login-form h2 {
	text-align: center;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	color: #fff;
}

.login-form .login-input {
	position: relative;
	width: 70%;
}

.login-form .login-input input {
	padding: 5px 10px 5px 28px;
	border: none;
	outline: none;
	border-radius: 3px;
	margin-bottom: 1rem;
	width: 100%;
}

.login-form .login-input i {
	position: absolute;
	top: 6px;
	left: 7px;
	color: #001F3F;
}

.login-form button {
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	color: #fff;
	background-color: #3A6D8C;
	letter-spacing: 1px;
	cursor: pointer;
	font-weight: 500;
}

@media (max-width: 1280px) {
	.login-container {
		transform: scale(0.9);
	}
}

@media (max-width: 1024px) {
	.login-container {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 800px) {
    .login-container {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 640px) {
    .login-container {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 475px) {
    .login-container {
        transform: scale(0.5);
    }
}