@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: #fff;
}

.topbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 200px 60px;
    align-items: center;
    z-index: 99;
}

.topbar-user{
    position: relative;
    width: 40px;
    height: 40px;
    justify-self: start;
}

.topbar-user img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin: 0 20px 0 10px;
}

.logo h2 {
    color: #001F3F;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.admin-login {
    justify-self: end;
}

.admin-login a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: #3A6D8C;
}

.admin-login i {
    margin: 5px;
    color: #3A6D8C;
}

.admin-login h4 {
    font-weight: 500;
}

.sidebar{
    position: fixed;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #001F3F;
    overflow-x: hidden;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    width: 100%;
    list-style-type: none;
}

.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: #fff;    
    height: 60px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

.sidebar ul li:nth-child(5){
    position: absolute;
    bottom: 10px;
}

.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.sidebar ul li a:hover{
    background-color: #fff;
    color: #001F3F;
    border-radius: 40px;
    margin-left: 50px;
}

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 250px);
    left: 250px;
    min-height: calc(100vh - 600px);
    overflow-x: auto;
    padding: 20px 30px;
}

.main h1 {
    color: #3A6D8C;
    text-align: center;
    margin-bottom: 2rem;    
    font-weight: 600;
    font-size: 1.9rem;
}

.export-btn {
	margin-bottom: 1rem;
}

.export-btn button {
	border: none;
	background-color: #008000;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}

.export-btn a {
	text-decoration: none;
	color: #fff;
}

.export-btn i {
	color: #fff;
	margin-right: 5px;
}

.log-table {
    width: 100%;
    border-collapse: collapse;  
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

th, td {
    padding: 6px 10px;
    text-align: center;
}

th {
    background-color: #001F3F;
    color: white;
}

@media (max-width: 1115px) {
.sidebar {
        width: 60px;
}

.main {
    left: 60px; 
    width: calc(100% - 60px);
    overflow-x: auto
}

}