<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="../static/js/dashboard.js"></script>
</head>
<body>
        <div class="topbar">
            <div class="logo">
                <h2>Voting System</h2>
            </div>
        </div>

        <div class="sidebar"> 
            <ul>
                {% if 'admin' in session %}
                    <li>
                        <a href="{{ url_for('dashboard') }}">
                            <i class="fas fa-th-large"></i>
                            <div>Dashboard</div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_votes') }}">
                            <i class="fa-solid fa-check-to-slot"></i>
                            <div>Votes</div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('manage_candidates') }}">
                            <i class="fa-solid fa-user-tie"></i>
                            <div>Candidates</div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_settings') }}">
                            <i class="fas fa-cog"></i>
                            <div>Admin Settings</div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_logout') }}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <div>Logout</div>
                        </a>
                    </li>
                    <li>
                        <a onclick="captureDashboard()">
                            <i class="fas fa-download"></i>
                            <div>Download Results</div>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_login') }}">Admin Login</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="main" id="dashboard-content">
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>Results</h1>
            <div class="top-candidates">
                <h2>Top Candidates</h2>
                {% if grouped_candidates %}
                    {% for position, candidates in grouped_candidates.items() %}
                    <div>
                        <h4>{{ position }}</h4>
                        <table class="candidates-table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Rank</th>
                                    <th>Name</th>
                                    <th>Votes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for candidate in candidates %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ candidate.name }}</td>
                                        <td>{{ candidate.vote_count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <p>No candidates available.</p>
            {% endif %}
            </div>
        </div>
</body>
</html>